{% extends 'base.html' %}

{% block content %}
<div class="container py-5" style="min-height: 100vh;">
    <h2 class="text-center text-dark mb-4">Notifications</h2>

    {% if notifications %}
    <div class="list-group">
        {% for note in notifications %}
        <div
            class="list-group-item {% if not note[2] %}bg-light{% else %}bg-secondary text-dark{% endif %} shadow-sm mb-2">
            <div class="d-flex justify-content-between">
                <div>{{ note[1] }}</div>
                <small class="text-muted">{{ note[3].strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-muted">No notifications found.</p>
    {% endif %}
</div>
{% endblock %}